@charset "UTF-8";
/* GENERAL*/
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Nickainley';
  src: url("font/Nickainley-Normal.otf"); }
@font-face {
  font-family: 'Multicolore';
  src: url("font/Multicolore.otf"); }
html, header, section, footer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto"; }

h1 {
  font-family: 'Nickainley';
  font-weight: bold; }

/* NAVBAR */
nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(250, 250, 250, 0.9); }
  nav ul {
    color: #9B1700;
    list-style: none;
    padding: 8px;
    flex: 1;
    text-align: center; }
    nav ul li {
      display: inline;
      position: relative;
      padding: 8px;
      margin: 0px 25px;
      font-family: 'Roboto', sans-serif;
      color: #9B1700;
      font-size: 1em;
      text-decoration: none;
      text-align: center;
      cursor: pointer; }
    nav ul li::after {
      content: "";
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 2px;
      background-color: #9B1700;
      top: 0;
      left: 0;
      transition: all 0.5s ease-in-out;
      transform: scaleX(0); }
    nav ul li:hover::after {
      transform: scaleX(1); }
  nav div {
    margin-left: auto;
    margin-right: 6px;
    font-size: 1.5em; }
    nav div i {
      color: #9B1700;
      padding: 6px;
      cursor: pointer; }

/* ACCUEIL */
header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("galerie/image1.jpg") center fixed; }
  header img {
    height: 25%; }
  header #picto {
    width: 150px;
    margin: 50px;
    background: #fafafa;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 120px;
    border: 10px solid #fafafa;
    color: #9B1700; }
  header #logo {
    z-index: 1;
    width: 100%;
    background: rgba(250, 250, 250, 0.9);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 72px;
    font-family: 'Nickainley';
    color: #9B1700;
    cursor: pointer;
    text-shadow: 0px 6px white;
    transition: font-size 0.3s; }
  header h3 {
    font-family: "Multicolore";
    font-size: 25px;
    font-weight: lighter;
    color: white;
    text-shadow: 1px 2px black; }

/* HISTOIRE */
#lagraine{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150%;
}

#lagraine h2{
  font-family: 'Roboto', sans-serif;
}

#lagraine h1{
  font-family: 'Roboto', sans-serif;

}

.article{
  width: 90%;
  height: 40vh;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: space-around;
}

.intro{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.fadeInRight{
  opacity: 1;
  animation-duration: 1s;
}

.plat{
  width: 25%;
  height: 35vh;
  background-color: blue;
  border-radius: 3px;
}

.article p{
  font-size: 14px;
  width: 80%;
  height: 15vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: gray;
  text-align: justify;
}


.article2{
  display: flex;
  flex-direction: row-reverse;
}


.plat1{
  background-image: url(galerie/image5.jpg);
  background-size: cover;
}

.plat2{
  background-image: url(galerie/image6.jpg);
  background-size: cover;
}

.plat3{
  background-image: url(galerie/index.jpg);
  background-size: cover;

}
/* GALERIE */
#galerie {
  overflow: visible;
  height: 100%;
  margin-top: 100px;
  min-height: 100%;
  max-width: 100%;
  background: white;
  align-items: center;
  justify-content: space-around; }
  #galerie div {
    height: 100%;
    min-height: 100%;
    width: 25%;
    position: relative; }
    #galerie div article {
      width: 100%;
      height: 75%; }
      #galerie div article img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: none;
        border-radius: 5px;
        cursor: pointer; }
    #galerie div .menu {
      padding: 50px 0px;
      height: auto;
      text-align: center; }
      #galerie div .menu h1 {
        font-family: "Multicolore";
        color: #9B1700; }
      #galerie div .menu p {
        color: grey; }
  #galerie article:hover {
    opacity: 0.75;
    transition-duration: 0.3s; }
  #galerie .menu:hover {
    opacity: 1; }
  #galerie article::after {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: "Multicolore";
    color: white;
    opacity: 0; }
  #galerie #entrees::after {
    content: "entrées"; }
  #galerie #plats::after {
    content: "plats"; }
  #galerie #desserts::after {
    content: "desserts"; }
  #galerie article:hover::after {
    opacity: 1;
    transition-duration: 0.5s; }

/* A PROPOS */
section #about {
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  text-align: justify;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s; }

.slideInDown {
  opacity: 1;
  animation-duration: 1s; }

.ajust {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 400px;
  justify-content: space-around;
  align-items: center; }

.ajust p {
  color: grey;
  font-family: 'roboto',sans-serif;
  font-size: 17px;
  line-height: 30px; }

.ajust h1 {
  text-align: center;
  color: #9B1700;
  font-size: 60px; }

.right {
  width: 50%;
  height: 100vh;
  background-image: url(galerie/roberta-sorge-143084.jpg);
  background-size: cover;
  transition: 0.3s;
  opacity: 0; }

.fadeInRight {
  opacity: 1;
  animation-duration: 1s; }

/* CROWDFUNDING */
#crowdfunding {
  justify-content: flex-end;
  width: 100%;
  background: url("galerie/histoire.jpg") center fixed; }

#crowdfunding article {
  position: relative;
  background-color: white;
  width: 50%;
  height: 100%;
  right: 0; }

#crowdfunding h1 {
  color: #9B1700;
  bottom: 50px;
  left: 25px;
  font-size: 90px; }

#crowdfunding p {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 200px;
  color: grey;
  font-family: 'Roboto', sans-serif;
  text-align: justify; }

/* CONTACT */
#contact {
  background: #fafafa;
  justify-content: space-around;
  align-items: center; }
  #contact div {
    position: relative;
    width: 25%;
    height: 75%; }
    #contact div img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px; }
  #contact div::after {
    position: absolute;
    content: "contact";
    left: 0;
    top: 0;
    margin-top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: "Multicolore";
    color: white; }
  #contact form {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #contact form fieldset {
      margin: 15px 0px;
      border: none;
      width: 100%; }
    #contact form textarea {
      margin: 15px 0px;
      width: 100%;
      flex: 1;
      border-radius: 5px;
      border: 1px solid #9B1700;
      background: none;
      padding: 5px;
      font-family: 'Roboto'; }
    #contact form #submit {
      width: 100%;
      background: #9B1700;
      color: #fafafa;
      text-transform: capitalize;
      padding: 10px;
      border-radius: 5px;
      border: none; }

/* FOOTER */
footer {
  position: relative;
  height: 25%;
  color: grey; }
  footer p {
    width: 100%;
    text-align: center;
    font-size: 0.8em; }

/*# sourceMappingURL=maquette.css.map */
