/* GENERAL*/

* {
margin: 0;
padding: 0;
}

@font-face {
font-family: 'Nickainley';
src: url('font/Nickainley-Normal.otf');
}

@font-face {
font-family: 'Multicolore';
src: url('font/Multicolore.otf');
}

$lightblue: #0005B7;
$paprika: #9B1700;

html, header, section, footer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}

h1 {
  font-family: 'Nickainley';
  font-weight: bold;
}

/* NAVBAR */

nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(250, 250, 250, 0.9);
  //font-weight: bold;
  ul {
    color: $paprika;
    list-style: none;
    padding: 8px;
    flex: 1;
    text-align: center;
    li {
      display: inline;
      position: relative;
      padding: 8px;
      margin: 0px 25px;
      font-family: 'Roboto', sans-serif;
      color: $paprika;
      font-size: 1em;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
    }
    li::after {
      content: "";
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 2px;
      background-color: $paprika;
      top: 0;
      left: 0;
      transition: all 0.5s ease-in-out;
      transform: scaleX(0);
    }
    li:hover::after {
      transform: scaleX(1);
    }
  }
  div {
    //margin-left: auto;
    padding-right: 6px;
    font-size: 1.5em;
    i {
      color : $paprika;
      padding: 6px;
      cursor: pointer;
    }
  }
}

/* ACCUEIL */

header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('galerie/image1.jpg') center fixed;
  img {
    height: 25%;
  }
  #picto {
    width: 150px;
    margin: 50px;
    background: rgb(250, 250, 250);
    border-radius: 50%;
    vertical-align: middle;
    font-size: 120px;
    border: 10px solid rgb(250, 250, 250);
    color: $paprika;
  }
  #logo {
    z-index: 1;
    width: 100%;
    background: rgba(250, 250, 250, 0.9);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 72px;
    font-family: 'Nickainley';
    color: $paprika;
    cursor: pointer;
    text-shadow: 0px 6px white;
    transition: font-size 0.3s;
  }
  h3 {
    font-family: "Multicolore";
    font-size: 25px;
    font-weight: lighter;
    color: white;
    text-shadow: 1px 2px black;
  }
}

/* HISTOIRE */

#lagraine{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150%;
}

#lagraine h1{
  color: $paprika;
  font-size: 60px;
  margin-bottom: 30px;
}

#lagraine h2{
  font-family: 'Multicolore', sans-serif;
  color: $paprika;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.article{
  width: 90%;
  height: 40vh;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.fadeInRight{
  opacity: 1;
  animation-duration: 1s;
}

.plat{
  width: 25%;
  height: 35vh;
  border-radius: 5px;
}

.article p{
  font-size: 17px;
  line-height: 30px;
  width: 80%;
  height: 15vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: grey;
  text-align: justify;
}


.article2{
  display: flex;
  flex-direction: row-reverse;
}


.plat1{
  background-image: url(galerie/image5.jpg);
  background-size: cover;
}

.plat2{
  background-image: url(galerie/image6.jpg);
  background-size: cover;
}

.plat3{
  background-image: url(galerie/index.jpg);
  background-size: cover;

}

/* GALERIE */

#galerie {
  overflow:visible;
  height: 100%;
  margin-top: 100px;
  min-height: 100%;
  max-width: 100%;
  background: white;
  align-items: center;
  justify-content: space-around;
  div {
    height: 100%;
    min-height: 100%;
    width: (100%/4);
    position: relative;
    article {
      width: 100%;
      height: 75%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .menu {
      padding: 50px 0px;
      height: auto;
      text-align: center;
      h1 {
        font-family: "Multicolore";
        color: $paprika;
      }
      p {
        color: grey;
      }
    }
  }
  article:hover {
    opacity: 0.75;
    transition-duration: 0.3s;
  }
  .menu:hover {
    opacity: 1;
  }
  article::after {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: "Multicolore";
    color: white;
    opacity: 0;
  }
  #entrees::after {
    content: "entrées";
  }
  #plats::after {
    content: "plats";
  }
  #desserts::after {
    content: "desserts";
  }
  article:hover::after {
    opacity: 1;
    transition-duration: 0.5s;
  }
}

/* A PROPOS */

section #about{
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;

}



.left{
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;

  text-align:justify;

  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.3s;
}

.slideInDown{
  opacity: 1;
  animation-duration: 1s;
}


.ajust{
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 400px;
  justify-content: space-around;
  align-items: center;
}

.ajust p{
  color: grey;

  font-family: 'roboto',sans-serif;
  font-size: 17px;

  line-height: 30px;
}

.ajust h1{
  text-align: center;
  color: $paprika;
  font-size: 60px;
}
.right{
  width: 50%;
  height: 75%;
  border-radius: 5px;
  align-self: center;
  background-image: url(galerie/roberta-sorge-143084.jpg);
  background-size: cover;
  transition: 0.3s;
  opacity: 0;
}

.fadeInRight{
  opacity: 1;
  animation-duration: 1s;
}

/* CROWDFUNDING */

#crowdfunding {
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
figure.left {
  width: 40%;
  height: 75%;
  border-radius: 5px;
  align-self: center;
  background-image: url(galerie/histoire.jpg);
  background-size: cover;
}

#crowdfunding article {
  background-color: white;
  margin-left: auto;
  width: 50%;
  height: 100%;
  text-align: justify;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#crowdfunding {
  h1{
    color: $paprika;
    font-size: 60px;
    margin-bottom: 30px;
  }
}

#crowdfunding p {
  color: grey;
  font-family: 'roboto',sans-serif;
  font-size: 17px;
  line-height: 30px;
}

/* CONTACT */

#contact {
  background: rgb(250, 250, 250);
  justify-content: space-around;
  align-items: center;
  div {
    position: relative;
    width: (100%/4);
    height: 75%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  div::after {
    position: absolute;
    content: "contact";
    left: 0;
    top: 0;
    margin-top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: "Multicolore";
    color: white;
  }
  form {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    fieldset {
      margin: 15px 0px;
      border: none;
      width: 100%;
    }
    input[type='text'] {
      width: 100%;
      border-radius: 5px;
      margin: 2px 0px;
      text-align: center;
      border: 1px solid black;
      background: none;
      padding: 5px;
      font-family: 'Roboto';
    }
    textarea {
      margin: 15px 0px;
      width: 100%;
      flex: 1;
      border-radius: 5px;
      border: 1px solid black;
      background: none;
      padding: 5px;
      font-family: 'Roboto';
    }
    #submit {
      width: 100%;
      background: $paprika;
      color: rgb(250,250,250);
      text-transform: capitalize;
      padding: 10px;
      border-radius: 5px;
      border: none;
    }
  }
}

/* FOOTER */

footer {
  position: relative;
  height: 25%;
  color: grey;
  p {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
  }
}
