*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body,section{
  width: 100%;
  height: 100%;
}




/*#up {
position: fixed;
right: 2%;
bottom: 2%;
}

header {
display: flex;
flex-direction: column;
background-image: url(../gallery/index.jpg);
background-size: cover;
}

header .menu {
position: fixed;

display: flex;

width: 100%;
height: 50px;
margin: 0;
padding: 0;

justify-content: center;
align-items: center;
}


.menu li {
list-style-type: none;
}

.menu li a{
margin: 0 10px 0 10px;

text-decoration: none;

color: black;

font-family: 'roboto',sans-serif;
font-size: 12px;
font-weight: bold;
}

.container h1{
color: white;

font-family: 'Dancing Script', cursive;
font-size: 60px;
}

.container h3{
color: white;

font-family: 'Dancing Script', cursive;
font-size: 30px;
}

.container img{
width: 130px;
height: 130px;
}

.container{
display: flex;
flex-direction: column;
height: 500px;
justify-content: space-around;
align-items: center;
}*/

/*HISTOIRE*/

#history{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

}

.hdetail{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}


.hdetail h1{
  color: #BF272F;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-transform: capitalize;
}

.hdetail p{
  font-family: 'roboto',sans-serif;
  font-size: 16px;
  width: 90%;
}

.himage{
  display: flex;
  width: 50%;
  height: 100%;
  background-image: url(../gallery/image3.jpg);
  background-size: cover;
}



/*A PROPOS*/

section #about{
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;

}



.left{
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100vh;

  text-align:left;

  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.3s;
}

.slideInDown{
  opacity: 1;
  animation-duration: 1s;
}


.ajust{
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 400px;

  justify-content: space-around;
  align-items: center;
}

.ajust p{
  color: gray;

  font-family: 'roboto',sans-serif;
  font-size: 17px;

  line-height: 30px;
}

.ajust h1{
  text-align: center;

  color: #B9121B;

  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}
.right{
  width: 50%;
  height: 100vh;
  background-image: url(../gallery/img1.jpg);
  background-size: cover;
  transition: 0.3s;
  opacity: 0;
}

.fadeInRight{
  opacity: 1;
  animation-duration: 1s;
}

/*#gallery {

}

.gallery1{
display: flex;

height: 50vh;

background-image: url(../gallery/gallerie.jpg);
background-size: cover;

justify-content: center;
align-items: center;
}

.gallery1 h1{
color: white;
text-shadow: 1px 1px 1px black;

font-family: 'Dancing Script', cursive;
font-size: 70px;
}

.food{
display: flex;

width: 100%;
height: 500px;

justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.miam{
display: flex;

width: 100%;
height: 500px;

justify-content: center;
align-items: center;
}

.miam p{
padding: 5px;

text-align: center;
text-align: left;

color: gray;

font-family: 'roboto',sans-serif;
font-size: 14px;

}

.miam h1{
text-align: center;

color: #B9121B;

font-family: 'Dancing Script', cursive;
font-size: 40px;

}

.contain{
display: flex;

width: 100%;
height: 200px;

justify-content: space-around;
align-items: center;
}

.photo{
width: 250px;
height: 180px;

background-image: url(../gallery/brooke.jpg);
background-position: center;
background-size: cover;
}*/





#crowdfunding {
  background: grey;
}

#contact {
  background: blue;
}

footer {
  width: 100%;
  height: 100px;

  background: purple;
}


.box{
  width: 103px;
  height: 53px;
  background-color: green;
  border: 3px solid red;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box p{
  text-align: center;
}
